{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="title-profile">
                Анкета участника
            </div>
            <div class="profile-dokaz">
                Докажи и нам, и читателям, что именно ты достоин высокого звания Героя МН и именно твоя фотография
                должна красоваться на обложке одного из номеров Men's Health в 2018 году. Заполняй форму регистрации
                участвуй в конкурсных мероприятиях и побеждай
            </div>
            <form method="post" enctype="multipart/form-data" class="profile-page">
                {% csrf_token %}
                <label>
                    <span> Имя и фамилия</span>
                    <input type="text" name="fio" required value="{{ form.fio.value|default:'' }}">
                </label>

                <div class="free_element-form">
                    <label>
                        <span> Возраст, полных лет</span>
                        <input type="text" name="age" required value="{{ form.age.value|default:'' }}">
                    </label>
                    <label>
                        <span>Рост, см</span>
                        <input type="text" name="height" required value="{{ form.height.value|default:'' }}">
                    </label>

                    <label>
                        <span> Вес, кг</span>
                        <input type="text" name="weight" required value="{{ form.weight.value|default:'' }}">
                    </label>
                </div>

                <label>
                    <span> Город, в котором я живу</span>
                    <input type="text" name="city" required value="{{ form.city.value|default:'' }}">
                </label>

                <label>
                    <span>Гражданство</span>
                    <input type="text" name="citizenship" required value="{{ form.citizenship.value|default:'' }}">
                </label>

                <label>
                    <span>Профессия (для учащихся – указать учебное заведение и факультет)</span>
                    <input type="text" name="profession" required value="{{ form.profession.value|default:'' }}">
                </label>

                <label>
                    <span>Интересы и увлечения</span>
                    <input type="text" name="interests" required value="{{ form.interests.value|default:'' }}">
                </label>

                <div class="photos">
                    <div class="photos-text">
		             <span>
		               Фотографии
		             </span>
                        Ты можешь загрузить 5 фотографий. Вес каждой фотографии не более 5 Мб.
                    </div>

                    <div class="photo-items">
                        {% for field in images %}
                            <label>
                                {% if field.file %}
                                    <div class="photo-item download true delete_img{% if forloop.counter0  == 0 %} photo-item_big{% endif %}">
                                        <img src="{{ field.file.url }}" alt="">
                                        <input type="hidden" value="{{ field.pk }}" name="image-{{ forloop.counter0 }}">
                                    </div>
                                {% else %}
                                    <input type="file" name="image-{{ forloop.counter0 }}"
                                           style="display: none;" onchange="handleFiles(this,this.files)">
                                    <div class="photo-item {% if forloop.counter == 1 %} photo-item_big download {% endif %}">
                                        <div class="photo-item-background"></div>
                                    </div>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <label>
                  <span>
                    О себе
                  </span>
                    <textarea name="info">{{ form.info.value|default:'' }}</textarea>
                </label>
                <label class="checkbox">
                    <input value="{{ profile_form.info.value }}" name="{{ profile_form.info.name }}" type="checkbox" required>
                    <span>
                        Согласен с <a href="{% static "docs/terms.docx" %}">правилами проведения конкурса</a>
	                </span>
                </label>
                <button class="all_mens" type="submit">Отправить на модерацию</button>
            </form>
        </div>
    </div>
{% endblock %}